<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><?php echo Lang::get('content.gps'); ?></title>
    <link rel="shortcut icon" href="assets/imgs/tab.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/simple-sidebar.css" rel="stylesheet">
    <link href="assets/css/leaflet.css" rel="stylesheet">
    <link href="assets/css/leaflet.label.css" rel="stylesheet">
    <link href="assets/css/bootstrap-select.css" rel="stylesheet">
    <link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style type="text/css">
       .leaflet-top,
      .leaflet-bottom {
        position: absolute;
        z-index: 1 !important;
        pointer-events: none;
      }
        #maploc1{
             width:100%;
            height: 90vh;
            /*overflow: auto;*/
            /*resize: both;*/
            box-shadow: 3px 3px 2px #888888;
        
        } 
       
       #maploc2{
            width:100%;
            height: 45vh;
            box-shadow: 3px 3px 2px #888888; 
        } 
        #maploc3{
            width:100%;
            height: 45vh;
            box-shadow: 3px 3px 2px #888888; 
        } 
       #maploc4{
            width:100%;
            height: 45vh; 
            box-shadow: 3px 3px 2px #888888;
        } 

       

        .watermark1 {
            position: absolute;
            opacity: 0.25;
            top: 100px;
            left: 100px;
            font-size: 1em;
            text-align: center;
            /*z-index: 1000;*/
        }

         .watermark2 {
            position: absolute;
            opacity: 0.25;
            top: 100px;
            right: 100px;
            font-size: 1em;
            text-align: center;
            /*z-index: 1000;*/
        }

        .watermark3 {
            position: absolute;
            opacity: 0.25;
            bottom: 100px;
            left: 100px;
            font-size: 1em;
            text-align: center;
            /*z-index: 1000;*/
        }

         .watermark4 {
            position: absolute;
            opacity: 0.25;
            bottom: 100px;
            right: 100px;
            font-size: 1em;
            text-align: center;
            /*z-index: 1000;*/
        }
         #dropdowns{
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
            position: absolute;
            z-index: 1;
            top: 60px;
            left: 90px; 
            cursor: pointer;
           }
      /*  body{padding: 0px; margin: 0px}*/
    </style>
</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" style="padding-left:0 !important;">
      
            <div style="background-color: #d8d8d8; padding: 5px; box-shadow: 3px 3px 2px #888888; border-top: 3px solid #3071a9">
                <div class="container">
                    <div class="col-md-3">
                        <select ng-options="groups for groups in sliceGroup" ng-model="groupSelected" ng-change="update()" class="form-control">
                            
                            <option style="display:none" value="" ng-if="vg">{{vg}}</option>
                            <option style="display:none" value="" ng-if="!vg"> <?php echo Lang::get('content.select_group'); ?></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="selectdata" ng-model="selectedVehi"  class="selectpicker" title="<?php echo Lang::get('content.select_vehicle'); ?>" ng-options="vehi.shortName for vehi in vehiclelist" multiple  data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true"></select>
                    </div>
                   <!--  <div class="col-md-3">
                        <select ng-options="vehi.shortName for vehi in vehicles" ng-model="vehi.vehicleId" class="form-control">
                            <option style="display:none" value="">@lang('content.select') @{{vehiLabel}}</option>
                        </select>
                    </div> -->

                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" ng-click="selectAll('selectedVehi')"><?php echo Lang::get('content.submit'); ?></button>
                        <!-- <button type="button" class="btn green" ng-click="multiTracking(vehi.vehicleId)">Submit</button> -->
                    </div>
                  
                    <div class="col-sm-3"    style="">
                        <button type="button" class="btn btn-primary" ng-click="selectAll('All')"><?php echo Lang::get('content.track_all_vehicles'); ?></button>
                    </div> 
                  <!--  <div class="col-sm-3" style=" margin-left: -160px;">
                        <button type="button" class="btn btn-primary" ng-click="initMethod()">Remove All</button>
                    </div> -->
                   
                </div>
            </div>


            <div>

                <div  id="dropdowns">
             <select ng-model="map_change" ng-change="changeMap()" style="font-size:12px; height: 26px; width: 64px; background: rgba(255, 255, 255, 0.9);border: none !important;">
                  <option value="0"><?php echo Lang::get('content.google'); ?></option>
                  <option value="1"><?php echo Lang::get('content.osm'); ?></a></option>
              </select>
            </div>
                 <div id="map_osm" style="height:94vh; width:100%; margin-top:0px;"></div>
                 <div id="maploc1" style="height:94vh; width:100%;"></div>
                <!-- <div class="col-md-6 "  style="padding: 3px; margin: 0px;">
                    <div id="maploc2"><p class="watermark2">Screen 2</p></div>
                </div>
                
                <div class="col-md-12"><hr style="margin: 0.3em auto;"></div>
                
                <div class="col-md-6 " style="padding: 3px; margin: 0px;">
                    <div id="maploc3"><p class="watermark3">Screen 3</p></div>
                </div>
                
                <div class="col-md-6 " style="padding: 3px; margin: 0px;">
                    <div id="maploc4"><p class="watermark4">Screen 4</p> </div>
                </div> -->

            </div>
      
    </div>
   <!--  <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="assets/js/markerwithlabel.js"></script>
    <script src="assets/js/infobox.js"  type="text/javascript"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/multiTrack.js"></script> -->

    <script type="text/javascript">
     var apikey_url = JSON.parse(localStorage.getItem('apiKey'));
        var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places";
          //var url = "https://maps.googleapis.com/maps/api/js?key=AIzaSyABtcdlhUVm5aKq7wAlMatI56DKanIKS6o&libraries=places"; 

      if(apikey_url != null || apikey_url != undefined)
          url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places";

    function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {
     if (scriptsCollection[startIndex]) {
        var fileref = document.createElement('script');
        fileref.setAttribute("type","text/javascript");
        fileref.setAttribute("src", scriptsCollection[startIndex]);
        fileref.onload = function(){
            startIndex = startIndex + 1;
            loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
        };
 
        document.getElementsByTagName("head")[0].appendChild(fileref)
    }
    else {
        librariesLoadedCallback();
        }
    }
 
    // An array of scripts you want to load in order
    var scriptLibrary = [];
   
    scriptLibrary.push("assets/js/static.js");
    scriptLibrary.push("assets/js/jquery-1.11.0.js");
    scriptLibrary.push("assets/js/bootstrap.min.js");
    scriptLibrary.push(url);
    //scriptLibrary.push("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places");
    scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js");
    scriptLibrary.push("assets/js/ui-bootstrap-0.6.0.min.js");
     scriptLibrary.push("assets/js/bootstrap-select.js");
    scriptLibrary.push("https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js");
    scriptLibrary.push("assets/js/leaflet.js?no_cache=" + new Date().getTime());
    scriptLibrary.push("assets/js/leaflet.label.js?no_cache=" + new Date().getTime());
    scriptLibrary.push("assets/js/leaflet.markercluster.js?no_cache=" + new Date().getTime());
    // scriptLibrary.push("http://code.highcharts.com/highcharts.js");
    // scriptLibrary.push("http://code.highcharts.com/highcharts-more.js");
    // scriptLibrary.push("http://code.highcharts.com/modules/solid-gauge.js");
    scriptLibrary.push("assets/js/markerwithlabel.js");
    scriptLibrary.push("assets/js/infobox.js");
    scriptLibrary.push("assets/js/vamoApp.js");
    scriptLibrary.push("assets/js/services.js");
    scriptLibrary.push("assets/js/multiTrack.js");

   // scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js");
   
  
   // scriptLibrary.push("http://code.highcharts.com/highcharts.js");
   // scriptLibrary.push("http://code.highcharts.com/highcharts-more.js");
   // scriptLibrary.push("http://code.highcharts.com/modules/solid-gauge.js");
   
   // scriptLibrary.push("assets/js/infobubble.js");
   // scriptLibrary.push("assets/js/infobox.js");
   // scriptLibrary.push("assets/js/vamoApp.js");
   // scriptLibrary.push("assets/js/services.js");
   // scriptLibrary.push("assets/js/custom.js");



 
   // Pass the array of scripts you want loaded in order and a callback function to invoke when its done
   loadJsFilesSequentially(scriptLibrary, 0, function(){
});
    
</script>

</body>
</html>
