<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/ui-drop/select.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="assets/css/bootstrap-select.css">

<style type="text/css">
  
  body{
    font-family: 'Lato', sans-serif;
  /*font-weight: bold;*/ 
  /*font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Faustina', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   */
} 

#btnGrp ul li {
   display: inline-block;
   list-style: none;
   padding-right: 40px;
}

#tripId ul li {
   display: inline-block;
   list-style: none;
}

#modalBody ul li{
  display: inline-block;
}

.ui-select-choices-row-inner{
  width: 178px!important;
}

.ui-select-bootstrap>.ui-select-match>.btn{
  width: 180px;
  height: 29.5px;
  padding: 3px 3px 3px 14px;
}

#vehiUiSel {
  float: left;
  margin-top: -40px;
  margin-left: 37.5%;
}

#tripUiSel{
  float: left;
  margin-top: -40px;
  margin-left: 21%;"
}

.table-stripeds > tbody > tr:nth-child(odd) > td, .table-stripeds > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfd;
}

.table-stripedds > tbody > tr:nth-child(odd) > td, .table-stripedds > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfd;
}

.table-stripeds > tbody > tr > td{
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-stripedds > tbody > tr > td{
    padding-top: 8px;
    padding-bottom: 8px;
}

#csvTable>tbody>tr>td, #csvTable>tbody>tr>th, #csvTable>tfoot>tr>td, #csvTable>tfoot>tr>th, #csvTable>thead>tr>td, #csvTable>thead>tr>th {
       padding-left: 40px;
}

</style>

</head>

<div id="status">&nbsp;</div>
<body ng-app = "mapApp">
    <div ng-controller = "mainCtrl" class="ng-cloak">
        <div id="wrapper-site">
            <div id="sidebar-wrapper-site" style="min-width:92px;">
                <ul class="sidebar-nav" ">
                    <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                    <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                    <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                    <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                    <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                    <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                    <li class="fms"><a href="../public/fms"  class="active"><div></div><label>FMS</label></a></li>
                    <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
                </ul>

            </div>
            <div id="testLoad"></div>

        <div class="col-md-12" style="margin-top: 70px;margin-left: 8px;">

            <div id="notifyMsg">
                <div id="notifyS" class="alert alert-success"  style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File uploaded successfully!
                </div>
                <div id="notifyF" class="alert alert-danger" style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File upload failed!
                </div>
            </div>      
          
            <tabset class="nav-tabs-custom">

                    <ui-select ng-model="gName.selected" ng-change="groupSelection($select.selected.gName)" theme="bootstrap" ng-disabled="disabled" style="width: 180px;
                          font-size: 11px !important;
                          opacity: 0.8 !important;
                          z-index: 1;
                          float: right;
                          margin-right: 261px;
                          margin-top: 5px;">

                          <ui-select-match style="font-size:11px !important;" placeholder="Change Group">{{$select.selected.gName}}</ui-select-match>
                            <ui-select-choices   repeat="grp in grpList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="grp.gName | highlight: $select.gName"></span>
                            </ui-select-choices>
                    </ui-select>

          <tab heading="Dashboard"  active="true" ng-click="tabChange('dash')">
        
              <div class="box box-primary"  style="min-height:550px;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f7f7f7;border-radius:3px;border: 0.7px solid #e0dfdf;border-radius: 5px;">

                 
                  <!--  <h4>Trip Sheet Upload</h4> -->
                  <div id="btnGrp" class="box box-primary" style="width: 90%;height: 100px;margin-top: 40px;  margin-left: 60px; border-radius: 8px;" >
                   
                    <ul style="padding-top: 30px;padding-left: 80px;">
                       <li>  <button type="button" class="btn btn-primary" >Total Vehicle in Transit</button>  </li>
                       <li>  <button type="button" class="btn btn-primary" >Vehicle Running on Time</button> </li>
                       <li>  <button type="button" class="btn btn-primary" >Vehicles running with delay</button>  </li>
                       <li>  <button type="button" class="btn btn-primary" >Vehicles yet to move from plant</button> </li>
                       <li>  <button type="button" class="btn btn-primary" >Stopped Vehicles</button>  </li>
                  <!-- <li> <button type="button" class="btn btn-primary">Sony</button> </li> -->
                    </ul>
                   </div>

                      <div class="box box-primary" style="margin-top: 28px; border-top-style:none;background-color:#f9f9f9;" >
                 
                        <table class="table table-striped table-bordered table-condensed table-hover table-stripeds">
                                <thead>
                                      <tr>
                                         <th rowspan="2" class="id" custom-sort order="'Zone'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Zone</b></th>
                                     <!--    <th rowspan="2" class="id" custom-sort order="'RO'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>RO</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'AO'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>AO</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'ShipmentQty'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Shipment Qty</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'Dealer'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Dealer</b></th> 
                                         <th rowspan="2" class="id" custom-sort order="'Month'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Month</b></th> 
                                         <th rowspan="2" class="id" custom-sort order="'Transporter'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Transporter</b></th> -->
                                         <th colspan="2" style="font-size:12px;background-color:#d5e8ef;"><b>Transit</b></th> 
                                         <th colspan="2" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery</b></th> 
                                      </tr>
                                      <tr>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Ontime</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Delay</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Ontime</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Delay</b></th>
                                      </tr>
                                     
                              </thead>    

                              <tbody>
                                    <tr ng-repeat="(key,value) in distRouteData" ng-click="reportFunc(key)" onclick="$('.report_tab a').click();" >
                                         <td>{{key}}</td>
                                     <!--    <td>{{data.RO}}</td>
                                         <td>{{data.AO}}</td>
                                         <td>{{data.ShipmentQty}}</td>
                                         <td>{{data.Dealer}}</td>
                                         <td>{{data.Month}}</td>
                                         <td>{{data.Transporter}}</td> -->
                                         <td>{{value.reachedCount}}</td>
                                         <td>{{value.delayCount}}</td>
                                         <td>{{value.runningOnTimeCount}}</td>
                                         <td>{{value.reachedDelayCount}}</td>
                                    </tr>
                              </tbody>

                        </table>


              </div>

   

            </div>
      </tab>

  <div class="modal fade" id="myModalMap" role="dialog"  style="top:30px;">
    <div class="modal-dialog modal-md" style="width:700px;height:500px;"  >
      <div class="modal-content">
        <div class="modal-header" style="height:45px; padding-top: 7px;">
         <!-- <div> --><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true" style="color:white;">&times;</span></button>
            <h4>{{windowRouteName}}</h4>
            <!-- </div> -->
        </div>
    <div class="modal-body" style="padding:5px 5px 5px 5px;">
          
         <div id="dvMap" style="width:100%;height:450px;"></div>

         </div>
        
      </div>
    </div>
  </div>  

      <tab class="report_tab" heading="Report"  active="false" ng-click="tabChange('report')">
        <div class="box box-primary" style="min-height:450px;overflow-x: auto;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f9f9f9;border-radius:3px;border: 0.7px solid #e0dfdf; ">
    

            <h4 class="modal-title" style="margin-top: 18px; margin-left: 5px;">Sales Admin Report</h4>

              <div class="box box-primary" style="margin-top: 15px;border-top-style:none;background-color:#f9f9f9;" >

                    <table class="table table-striped table-bordered table-condensed table-hover table-stripedds">
                        <thead>
                            <tr>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Invoice no </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Chassis no </b></th>
                              <th class="id" custom-sort order="'vehicleName'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Engine no</b></th>
                              <th class="id" custom-sort order="'dispatchTime'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Despatch date </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Orgin </b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Destination</b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>AO</b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>RO</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Zone</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Transporter</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Dealer </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Location (G-Map)</b></th>
                              <th class="id" custom-sort order="'billingDocNo'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Billing No</b></th> 
                              <th class="id" custom-sort order="'transportName'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Transporter</b></th> 
                              <th class="id" custom-sort order="'routeName'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Route</b></th> 
                              <th class="id" custom-sort order="'totalDistance'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Total Dist</b></th> 
                              <th class="id" custom-sort order="'day'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Day</b></th> 
                              <th class="id" custom-sort order="'kmsCovered'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>KMs covered</b></th> 
                              <th class="id" custom-sort order="'balanceCovered'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Balance to Cover</b></th>
                              <th class="id" custom-sort order="'status'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Status</b></th> 
                              <th class="id" custom-sort order="'expectedHours'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>ETA</b></th>
                            </tr>
                        </thead>    

                              <tbody ng-repeat="data in fmsData | orderBy:natural(sort.sortingOrder):sort.reverse">
                                    <tr>
                                        <td>ALY{{$index+1}}</td>
                                        <td>ALY0{{$index+11}}</td>
                                        <td>{{data.vehicleName}}</td>
                                        <td ng-if="data.dispatchTime==0">-</td>
                                        <td ng-if="data.dispatchTime!=0" >{{data.dispatchTime | date:'yyyy-MM-dd'}}</td>
                                        <td>{{data.source}}</td>
                                        <td>{{data.destination}}</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>CHENNAI</td>
                                        <td>ALY</td>
                                        <td>SMP</td>
                                        <td ng-if="data.latlng!=null"><a href="https://www.google.com/maps?q=loc:{{gMapLink1(data.latlng)}},{{gMapLink2(data.latlng)}}" target="_blank">Link
                                        </a></td>
                                        <td ng-if="data.latlng==null">-</td>                                         
                                        <td>{{data.billingDocNo}}</td>
                                        <td>{{data.transportName}}</td>
                                        <td><a ng-click="getMap(data.routeName)" data-target="#myModalMap" data-toggle="modal">{{data.routeName}}</a></td>
                                        <td>{{data.totalDistance}}</td>
                                        <td>{{data.day}}</td>
                                        <td>{{data.kmsCovered}}</td>
                                        <td>{{data.balanceCovered}}</td>
                                        <td>{{data.status}}</td>
                                        <td>{{data.expectedHours}}</td>
                                    </tr>                                  
                              </tbody>
                        </table>

              </div>

        </div>
      </tab>


        <tab  heading="File Upload"  active="false">
        
                  <div class="box box-primary"  style="min-height:550px;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f7f7f7;border-radius:3px;border: 0.7px solid #e0dfdf;border-radius: 5px;">

         
          <!--  <h4>Trip Sheet Upload</h4> -->
          <div id="btnGrp" class="box box-primary" style="width: 400px;height: 200px;margin-top: 50px;margin-left: 30%;border-radius: 5px;" ng-show="fileUploadsBox">
           
            <ul style="padding-top: 70px;padding-left: 18%;">
               <li>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >File Upload</button>  </li>
               <li>  <button type="button" class="btn btn-primary" ng-click="tripSheetView()" >View Files</button> </li>
          <!--<li>   <button type="button" class="btn btn-primary">Sony</button> </li> -->
              </ul>

          </div>

          <!--  <div style="margin-left:25%; margin-top: 100px;">
                  <form method="post" enctype="multipart/form-data">
                     <div>
                       <!-- <label for="file" style="color: #e64141;">Choose file to upload :</label> -->
              <!-- <input type="file" id="file" name="file" style="padding-top: 20px;padding-left: 30px;"> </div>
                     <div style="padding-top: 40px; padding-left: 40px;">
                       <button style="font-size: 12px; border-radius: 14px; color: #ffffff; background-color: #18bdda;" ng-click="submitFunction()">Submit</button>
                     </div>
                  </form>
              </div> -->

      <div class="box box-primary" style="margin-top: 28px;border-top-style:none;background-color:#f9f9f9;" ng-show="fileNameShow">

            <div class="col-md-6 boxing_size" style="margin-left: 10%;margin-top: 15px;" id="csvBox">
                <div class="box box-primary" style="margin-left: 10px" >
                       <div class="box-header">
                        <h5 class="box-title" style="color:green; font-size: 15px; margin-top: 5px; margin-left: 8px;">View Files</h5>
                        <!--<h5 style="color: red">{{error}}</h5>-->
                        <div class="box-tools" >
                            <span class="pull-right" style="margin-right: 10px; margin-top: 10px;"><input class="btn btn-xs btn-danger pull-right" style="background-color: #18bdda;border-color: #18bdda;" type="button" value="Back" ng-click="backUpload()"></span>
                        
                        </div>
                    </div>


            
                    <table class="table table-bordred table-hover" id="csvTable" style="margin-top: 10px;">
                        <thead>
                     <!--<tr><td style="font-size: 14px;">Customer Name :</td><td style="font-size: 14px;">{{data.customerName}}</td><td style="font-size: 14px;">Total Balance:</td><td style="font-size: 14px;">{{data.balanceAmount}}</td></tr> 
                          <tr style="padding-top: 10px;"> --> 
                            <th style="text-align: left;">S.No</th>
                            <th style="text-align: left;">File Name</th>
                            <th style="text-align: left;">View</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="file in fileData">
                            <tr>
                                <td style="text-align: left;">{{$index+1}}</td>
                                <td style="text-align: left;">{{file}}</td>
                          <td style="text-align: left;"><a href="http://www.gpsvts.net/gps/public/uploads/{{file}}">Click</a></td> 
                             <!--   <td style="text-align: left;"><a href="http://www.puccagps.com/gps/public/uploads/{{file}}">Click</a></td>-->
                            </tr>

                        </tbody>
                
                    </table>
                </div>
            </div>
        
      </div>


            <!-- modal -->
              <div class="modal fade" id="myModal" role="dialog" style="margin-top: 60px;">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">File Upload</h4>
                      </div>
                  <div class="modal-body" id="modalBody" style="padding: 25px 15px 25px 15px;">

                    <ul>
                      <li>
                        <ui-select ng-model="orgName.selected"  ng-change="orgFunction(orgName.selected)" theme="bootstrap" ng-disabled="disabled" style="width:180px;
                            font-size:11px !important;
                            opacity: 0.8 !important;
                            z-index:1;">

                            <ui-select-match style="font-size:11px !important;" placeholder="Organization Name">{{$select.selected.orgName}}</ui-select-match>

                          <ui-select-choices   repeat="org in orgList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="org.orgName | highlight: $select.orgName"></span>
                            </ui-select-choices>

                        </ui-select>
                      </li>
                      <li>
                          <form method="post" enctype="multipart/form-data" style="padding-left: 45px;">
                            <div>
                         <!-- <label for="file" style="color: #e64141;">Choose file to upload :</label> -->
                              <input type="file" id="file" name="file">
                            </div>
                          </form>
                      </li>
                    </ul>

                      </div>

                      <div class="modal-footer">
                          <button type="button" class="btn" id="btnHover" style="background-color: #18bdda;color:#fff;" ng-click="submitFunction()" data-dismiss="modal">Submit</button>
                     <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Back</button> -->
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
              </div> 

        </div>
      </tab>


    </tabset> 

    </div>
  </div>
</div>

    
   <script>
    var apikey_url = JSON.parse(localStorage.getItem('apiKey'));
    var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places";

    if(apikey_url != null ||  apikey_url != undefined) {
        url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places";
     // url = "https://maps.googleapis.com/maps/api/js?key=AIzaSyABtcdlhUVm5aKq7wAlMatI56DKanIKS6o&libraries=places"; 
    }

    function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {

      if (scriptsCollection[startIndex]) {
       var fileref = document.createElement('script');
       fileref.setAttribute("type","text/javascript");
       fileref.setAttribute("src", scriptsCollection[startIndex]);
       fileref.onload = function(){
         startIndex = startIndex + 1;
         loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
       };
 
       document.getElementsByTagName("head")[0].appendChild(fileref)
      } else {
       librariesLoadedCallback();
      }

    }
 
// An array of scripts you want to load in order
    var scriptLibrary = [];
  
    scriptLibrary.push(url);
 
  //Pass the array of scripts you want loaded in order and a callback function to invoke when its done
    loadJsFilesSequentially(scriptLibrary, 0, function(){
  });
  
  </script> 
  
    <script src="assets/js/static.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js"></script>
<!--<script src="assets/js/bootstrap.min.js"></script>-->     
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/ui-drop/select.min.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/fmsReport2.js"></script>

   <script type="text/javascript">
        
    $(document).ready(function() {  
      $(".selectpicker").selectpicker();
    });

     $(function () {
          $('#dateFrom').datetimepicker({
              format:'YYYY-MM-DD',
              useCurrent:true,
              pickTime: false
          });
      }); 

  </script>

</body>
</html>
