<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title><?php echo Lang::get('content.gps'); ?></title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>
body {
      font-family: 'Lato', sans-serif;
   /* font-weight: bold; */  
   /* font-family: 'Lato', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Faustina', serif;
      font-family: 'PT Sans', sans-serif;
      font-family: 'Ubuntu', sans-serif;
      font-family: 'Droid Sans', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
      */
  }
.empty {
    height: 1px; width: 1px; padding-right: 30px; float: left;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" class="ng-cloak">
      <div id="wrapper" style="padding-left: 78px;">
        <div id="sidebar-wrapper" style="width: 87px;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label><?php echo Lang::get('content.track'); ?></label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label><?php echo Lang::get('content.reports'); ?></label></a></li>
                <li class="stastics"><a href="../public/statistics?ind=1"><div></div><label><?php echo Lang::get('content.statistics'); ?></label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label><?php echo Lang::get('content.scheduled'); ?></label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label><?php echo Lang::get('content.FMS'); ?></label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
      
            
        </div>
        
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>

        <div id="snackbar">{{updateMsg}}</div>
 
        <div class="col-md-12">
            <div class="box box-primary" style="min-height:570px;margin-top:50px;margin-left:150px;width: 900px;">
              <div>
                  <!-- <span class="pull-right" style="margin-right: 15px; margin-top: 15px;"><input class="btn btn-xs btn-danger pull-right" style="background-color:#de5a30;border-color: #de5a30;padding: 3px 8px 3px 8px;" type="button" value="Home" ><a href="../public/track"></a></span> -->
                     <span class="pull-right" style="margin-right: 55px; margin-top: 15px;">     
                          <a class="btn btn-sm" href="../public/track" style="background-color:#de5a30;border-color: #de5a30;padding: 3px 8px 3px 8px;color: #ffffff;"><?php echo Lang::get('content.back'); ?></a>
                      </span>
                      <span class="pull-right" style="margin-top: 15px;margin-right: 15px; "><input class="btn btn-xs btn-danger pull-right" style="background-color: #18bdda;border-color: #18bdda;padding: 3px 8px 3px 8px;" type="button" value="<?php echo Lang::get('content.update'); ?>" ng-click="updateNotifiy()"></span>

                <div class="modal-header">
                    <h4 class="modal-title"><?php echo Lang::get('content.edit_user_notification'); ?></h4>
                </div>
                <div class="box-body" style="padding-top: 15px; margin-left: 38px;">

                <span style="float: right;margin-right: 63px;"><b style="color: green;"><?php echo Lang::get('content.email'); ?> :</b> &nbsp;&nbsp;<b>{{notifyData.email}}</b></span>
                    <span style="float: right;margin-right: 28px;"><b style="color: green;">Mobile :</b>&nbsp;&nbsp; <b>{{notifyData.mobNo}}</b></span>

                  <div class="empty" align="center"></div>
                     <div class="row" style="padding-top: 20px;"></div>

                        <table class="table table-striped table-bordered table-condensed table-hover" style="padding:10px 0 10px 0;width: 95%;margin-top: 15px;">
                              <thead>
                                    <tr>
                                        <th style="font-size:12px;background-color:#ecf7fb;"><b><?php echo Lang::get('content.sno'); ?></b></th>
                                        <th style="font-size:12px;background-color:#ecf7fb;"><b><?php echo Lang::get('content.name'); ?></b></th>
                                        <th style="font-size:12px;background-color:#ecf7fb;"><b><?php echo Lang::get('content.sms'); ?></b></th>
                                        <th style="font-size:12px;background-color:#ecf7fb;"><b><?php echo Lang::get('content.mail'); ?></b></th>
                                    </tr>
                              </thead>
                                          
                              <tbody>
                           
                                      <tr ng-repeat="val in notifyData.getEvent">
                                         <td>{{$index+1}}</td>
                                         <td>{{val}}</td>
                                         <td><input type="checkbox" ng-model="notifySms[$index]" ng-checked="notifySms[$index]" /></td> 
                                         <td><input type="checkbox" ng-model="notifyMail[$index]" ng-checked="notifyMail[$index]" /></td> 
                                      </tr>
                                 
                              </tbody>
                             
                        </table>                        
                  </div>

                </div>
              </div>
          </div>

        </div>
      </div>

    <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/mailNotify.js"></script>
    
    <script>

     

  </script>
    
</body>
</html>

