<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title><?php echo Lang::get('content.gps'); ?></title>

<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<!-- <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"> -->
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">

<style type="text/css">
    
    /*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}*/
.boxing_size{
     margin-top: 15px ;

}
/*tr.selected {
    background-color: green
}

.selected{
  background:black;
  color:white;
}*/

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>
<body ng-app="mapApp" class="ng-cloak">
    <div id="wrapper-site" ng-controller="mainCtrl">
         <div id="sidebar-wrapper-site">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label><?php echo Lang::get('content.track'); ?></label></a></li>
                <li class="alert01"><a ng-href="{{navReports}}"><div></div><label><?php echo Lang::get('content.reports'); ?></label></a></li>
                <li class="stastics"><a ng-href="{{navStats}}"><div></div><label><?php echo Lang::get('content.statistics'); ?></label></a></li>
                <li class="admin"><a ng-href="{{navSched}}"><div></div><label><?php echo Lang::get('content.scheduled'); ?></label></a></li>
                <li class="fms"><a ng-href="{{navFms}}"><div></div><label><?php echo Lang::get('content.FMS'); ?></label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
        </div>
      <!--  <div id="page-content-wrapper" style="background-color: #e7e7e7; width: 100%; height: 100vh;" ng-hide="_tabValue">
           
            <label align="center" style="top: 25%; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; font-weight: bold;" class="panel-title">Reconfirm Password</label>
            <div style=" width: 100%; height: 100vh; padding: 10px;">
                <div style="width: 400px; height: 200px; background-color: #f4f4f4; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px; float:left; box-shadow: 5px 5px 2px 2px #888888;">
                    <input type="password" name="password" style="width: 250px; height:30px; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px" placeholder="Password" ng-model="pwd">
                    <span style="width: 60px; height:30px; top: 100px; left: 0; bottom: 0; right: 0;  margin: auto;position: absolute; border-radius: 4px; background-color: #357ebd; cursor: pointer; padding: 4px; color: #fff" align="center" ng-click="passwordConfirm()">Submit</span>
                </div>
            </div>
        </div>-->

    <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
    </div>



        <div >


        <div class="row">
            <div class="col-md-6 boxing_size">
                <div class="box box-primary" style="margin-left: 10px">
                    <div class="box-header">
                        <h3 class="box-title"><?php echo Lang::get('content.payment_details'); ?> :</h3>
                    <!-- <h5 style="color: red">{{error}}</h5> -->
                    </div>
            
                    <table class="table table-bordred table-hover" ng-repeat="data in zohoData">
                        <thead>
                     <tr><td style="font-size: 14px;"><?php echo Lang::get('content.cus_name'); ?> :</td><td style="font-size: 14px;">{{data.customerName}}</td><td style="font-size: 14px;"><?php echo Lang::get('content.total'); ?> <?php echo Lang::get('content.balance'); ?>:</td><td style="font-size: 14px;">{{data.balanceAmount}}</td></tr> 
                          <tr style="padding-top: 10px;">  
                            <th><?php echo Lang::get('content.sno'); ?></th>
                            <th><?php echo Lang::get('content.due_date'); ?></th>
                            <th><?php echo Lang::get('content.balance'); ?></th>
                            <th><?php echo Lang::get('content.due_days'); ?></th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="subdata in data.hist">
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{subdata.dueDate}}</td>
                                <td><a target="_blank" ng-href="{{subdata.invoice}}">{{subdata.balanceAmount}}</a></td>
                                <td>{{subdata.dueDays}}</td>
                            </tr>

                        </tbody>
                        <tr ng-if="data.hist.length==0" class="err"><td colspan="4">{{data.error}}</td><tr>
                    </table>
                </div>
            </div>
       
        <!--    <div class="col-md-6 boxing_size" >
                <div class="box box-primary" style="padding: 0px">
                    <div class="box-header">
                        <h3 class="box-title">Vehicles</h3>
                        <div class="box-tools pull-right">
                           <span class="pull-right"><a>GroupName&nbsp;|&nbsp;{{trimColon(grpName)}}</a></span>        
                        </div>
                        
                    </div>
            
                    <table id="mytable" class="table table-bordred table-hover" cellspacing="0" width="100%">
                        <thead>
                            <th><input type="checkbox" ng-model="check_box" ng-click="checkAll()"/></th>
                            <th>VehicleName</th>
                            <!-- <th>ShortName</th> -->
               <!--         </thead>
                        <tbody>
                            <tr ng-repeat="vehi in vehiList">
                                <td><input type="checkbox" ng-model="vehi.check" ng-checked="vehi.check" /></td>
                                <!-- <td>{{vehi.vehicles}}</td> -->
                        <!--        <td>{{vehi.shortName}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
       
</div>
        </div>
    </div>   
   
    <script src="assets/js/static.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js"></script>

    <!-- <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script> -->
    
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/payDetails.js"></script>
   <!-- <script type="text/javascript">
    $(document).ready(function() {
        $('#mytable').DataTable( {
            "order": [[ 1, "desc" ]]
        });
    });
   </script> -->
    
</body>
</html>


