<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Satheesh">
    <title>GPS</title>
    <link rel="shortcut icon" href="assets/imgs/tab.ico">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/jVanilla.css" rel="stylesheet">
    <link href="assets/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/leaflet.draw.css">
    <link href="assets/css/leaflet.css" rel="stylesheet">
    <!-- <link href="assets/css/jVanilla.css" rel="stylesheet"> -->
    
    <link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
        #maploc{
            height:94vh; width:100%; margin-top: 35px;
        }
        #map_osm{
            height:94vh; width:100%; margin-top: 35px;
        }
        #dropdowns {
     /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
        top: 48px;
        left: 12%;
        position: absolute;
        z-index: 1;
        opacity: 0.9; */
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 140px;
        cursor: pointer;
      }
    </style>
<div id="status">&nbsp;</div>
</head>
<body ng-app="mapApp">
    <div id="wrapper-site" ng-controller="mainCtrl" class="ng-cloak">
        <div id="sidebar-wrapper-site">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>{{ "Track" | translate }}</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports"><div></div><label>{{ "Reports" | translate }}</label></a></li>
                <li class="stastics"><a href="../public/statistics?ind=1"><div></div><label>{{ "Statistics" | translate }}</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>{{ "Scheduled" | translate }}</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>{{ "FMS" | translate }}</label></a></li>
                <!-- <li class="settings"><a href="../public/settings"  class="active"><div></div><label>Settings</label></a></li>
                <li class="admin"><a href="javascript:void(0);"><div></div><label>Admin</label></a></li> -->
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
        </div>

       


        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="testLoad"></div>
                <!-- <input id="pac-input" type="text" placeholder="Enter a location"></input> -->
                <!-- <div  id="dropdowns" >
                          <select ng-model="map_change" ng-change="changeMap(map_change)" style="font-size:12px;height: 26px; width: 63px; background: rgba(255, 255, 255, 0.9);border: none !important;margin-top: 55px;" id="selectmap">
                            <option value="1">OSM</option>
                            <option value="0">Google</option>
                          </select>
                        </div> -->
                        <div  id="dropdowns">
                          <select ng-model="map_change" ng-change="changeMap(map_change)" style="font-size:12px;height: 26px; width: 63px; background: rgba(255, 255, 255, 0.9);border: none !important;margin-top: -2px;" id="selectmap">
                            <option value="1"><?php echo Lang::get('content.osm'); ?></a></option>
                            <option value="0"><?php echo Lang::get('content.google'); ?></option>
                          </select>
                        </div>
                    <form id="newLeaf">
                    <input id="pac-input" type="text" placeholder="Enter a location" style="margin-left: 50px;"></input>
                    </form>
                <div style="position: absolute;top: 50px;right: 20px; z-index:99; width: 300px;padding: 10px;background: #fff;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;">

                    <div style="width:100%; background: #F4F4F4; font-weight: bold; font-size: 12px; padding : 3px" align="center">{{ "Add_Sites" | translate }} </div>
                        <div class="siteInput" > 
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr><td colspan="2"></td></tr>
                                    <tr>
                                        <td><b>{{ "Site_Name" | translate }}</b></td>
                                        <td><input name="txt" type="text" ng-model="textValue" style="width:100%; font-weight: bold; font-size: 12px; padding : 3px"/></td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ "Type" | translate }}</b></td>
                                        <td>
                                            <select id="drop" ng-model="dropValue" style="width:100%; font-weight: bold; font-size: 12px; padding : 3px">
                                                <option value = "Home Site">{{ "Home_Site" | translate }}</option>
                                                <option value = "Client Site">{{ "Client_Site" | translate }}</option>
                                                <option value = "Restricted Site">{{ "Restricted_Site" | translate }}</option>
                                                <option value = "Other">{{ "Other" | translate }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>{{ "Org_Id" | translate }}</b>
                                        </td>
                                        <td>
                                            <select style="width:100%; font-weight: bold; font-size: 12px; padding : 3px" ng-model="orgID">
                                                <option ng-repeat="org in dropDownList.orgIds">{{org}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            
                                            <input id="add" type="button" value="{{ 'Add_Site' | translate }}" ng-click="AddClear()"/>
                                            <input id="create" type="button" value="{{ 'Create' | translate }}" ng-click="drawline()"/>
                                            <input id="update" type="button" value="{{ 'Update'  | translate }}" ng-click="updateDrawline()"/>
                                            <input type="button" value="{{ 'Clear_Map' | translate }}" ng-click="clearline()"/>
                                            
                                        </td>                            
                                    </tr>
                                </tbody>
                            </table>
                            <div align="left">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{ "Name" | translate }}</th>
                                            <th>{{ "Type" | translate }}</th>
                                            <th>{{ "Action" | translate }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <input type="input" placeholder="{{ 'Site_Name' | translate }}" ng-model="search" style="width:100%; font-weight: bold; font-size: 12px; padding : 2px"/>
                                            </td>
                                        </tr>
                                    </thead>       
                                </table>
                                <div style=" height: 300px; width: 100%; overflow: scroll">
                                    <table >
                                        <tbody>
                                            <tr ng-repeat="user in orgIdlist | filter:search">
                                                <td ng-click="siteNameClick(user)" style="cursor:pointer ; hover: black">{{user.siteName}}</td>
                                                <td>{{user.siteType}}</td>   
                                                <td class="delete" ng-click="deleteClick(user)">{{ "Delete" | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                               
                        </div>       
                    </div>
                     <div id="maploc" center="center"></div>
                    <div id="map_osm" center="center"></div>
                <!-- <div id="maploc">
                    <div id="map_canvas"  center="center"></div>
                </div> -->
            </div>
        </div>


<div id="snackbar">{{toast}}</div>

    </div>
    <!-- <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
   <!--  <script src="assets/js/markerwithlabel.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/addsite.js"></script> -->
    <script>

    var apikey_url = JSON.parse(localStorage.getItem('apiKey'));
    var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,drawing";
    if(apikey_url != null || apikey_url != undefined)
        url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places,drawing";

    function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {
     if (scriptsCollection[startIndex]) {
        var fileref = document.createElement('script');
        fileref.setAttribute("type","text/javascript");
        fileref.setAttribute("src", scriptsCollection[startIndex]);
        fileref.onload = function(){
            startIndex = startIndex + 1;
            loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
        };
 
        document.getElementsByTagName("head")[0].appendChild(fileref)
    }
    else {
        librariesLoadedCallback();
        }
    }
 
    // An array of scripts you want to load in order
    var scriptLibrary = [];
   
    scriptLibrary.push("assets/js/static.js");
    scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js");
   scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js");
   scriptLibrary.push("https://code.jquery.com/jquery-1.12.4.js");
   scriptLibrary.push("https://code.jquery.com/ui/1.12.1/jquery-ui.js");
    scriptLibrary.push("assets/js/jquery.min.js");
    scriptLibrary.push(url);
    //scriptLibrary.push("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,drawing");
    scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js");
    scriptLibrary.push("assets/js/ui-bootstrap-0.6.0.min.js");
    scriptLibrary.push("assets/js/bootstrap.min.js");
    scriptLibrary.push("https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.6.0/angular-translate.js");
        scriptLibrary.push("assets/js/src/leaflet-src.js");

    scriptLibrary.push("assets/js/src/Leaflet.draw.js");

    scriptLibrary.push("assets/js/src/edit/handler/Edit.Poly.js");
    scriptLibrary.push("assets/js/src/edit/handler/Edit.SimpleShape.js");
    scriptLibrary.push("assets/js/src/edit/handler/Edit.Circle.js");
    scriptLibrary.push("assets/js/src/edit/handler/Edit.Rectangle.js");

    scriptLibrary.push("assets/js/src/draw/handler/Draw.Feature.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.Polyline.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.Polygon.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.SimpleShape.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.Rectangle.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.Circle.js");
    scriptLibrary.push("assets/js/src/draw/handler/Draw.Marker.js");

    scriptLibrary.push("assets/js/src/ext/TouchEvents.js");
    scriptLibrary.push("assets/js/src/ext/LatLngUtil.js");
    scriptLibrary.push("assets/js/src/ext/GeometryUtil.js");
    scriptLibrary.push("assets/js/src/ext/LineUtil.Intersect.js");
    scriptLibrary.push("assets/js/src/ext/Polyline.Intersect.js");
    scriptLibrary.push("assets/js/src/ext/Polygon.Intersect.js");

    scriptLibrary.push("assets/js/src/Control.Draw.js");
    scriptLibrary.push("assets/js/src/Tooltip.js");
    scriptLibrary.push("assets/js/src/Toolbar.js");

    scriptLibrary.push("assets/js/src/draw/DrawToolbar.js");
    scriptLibrary.push("assets/js/src/edit/EditToolbar.js");
    scriptLibrary.push("assets/js/src/edit/handler/EditToolbar.Edit.js");
    scriptLibrary.push("assets/js/src/edit/handler/EditToolbar.Delete.js");
    scriptLibrary.push("assets/js/markerwithlabel.js");
    scriptLibrary.push("assets/js/vamoApp.js");
    scriptLibrary.push("assets/js/services.js");
    scriptLibrary.push("assets/js/addsite.js");

   // scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js");
   
  
   // scriptLibrary.push("http://code.highcharts.com/highcharts.js");
   // scriptLibrary.push("http://code.highcharts.com/highcharts-more.js");
   // scriptLibrary.push("http://code.highcharts.com/modules/solid-gauge.js");
   
   // scriptLibrary.push("assets/js/infobubble.js");
   // scriptLibrary.push("assets/js/infobox.js");
   // scriptLibrary.push("assets/js/vamoApp.js");
   // scriptLibrary.push("assets/js/services.js");
   // scriptLibrary.push("assets/js/custom.js");



 
   // Pass the array of scripts you want loaded in order and a callback function to invoke when its done
   loadJsFilesSequentially(scriptLibrary, 0, function(){
});
    
    // var logo =document.location.host;
    // var imgName= '/vamo/public/assets/imgs/'+logo+'.small.png';
    // $('#imagesrc').attr('src', imgName);
    </script>
</body>
</html>